.fixed {
    width:15%;
    border:1px solid black;
    position:fixed;
    margin-left:80%;
    background:#CC6600;
    text-align:center;
    padding: 1%;
    color:white;
}

.movie-hover {
  background:#FF9933;
  color:white;
}

.movie-selected {
  background:#CC6600;
  color:white;
}

.most-votes {
  background:#FFD700;
  padding: 2%;
  margin: 1%;
  border:1px solid black;
}

.movie-votes {
  margin: 1%;
}


