<h2 class="h2">{{movieInfo.title}} ({{movieInfo.year}}, {{movieInfo.minutes}} mins)</h2>
<div class="row">
  <div class="col-md-2" ng-hide="!fixthisShit">
    <a href="{{movieInfo.posterUrl}}" data-lightbox="{{movieInfo.posterUrl}}" data-title="{{movieInfo.title}}">
      <img src="{{movieInfo.posterUrl}}" alt="{{movieInfo.title}} poster" style="zoom: 0.5" >
    </a>
  </div>
  <div class="col-md-5">{{movieInfo.description}}</div>
  <div class="col-md-1">{{movieInfo.genre}}</div>
  <div class="col-md-1">MetaCritic score:
    <br> {{movieInfo.metascore === 0 ? 'No ratings yet' : movieInfo.metascore}}</div>
</div>
<br />
